<!DOCTYPE html>
<html lang="en">
<head>
    <!--POR DEFECTO-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--TIPOGRAFIA-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--ICONOS-->
    <script src="https://kit.fontawesome.com/dcce2b7d15.js" crossorigin="anonymous"></script>
    <!--CSS-->
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <div class= "contenedor-logo">
            <img  src="images/logo-mercado-liebre.svg" alt="logo" class="logo">
            <form class="busqueda" action="#"  method="POST">
                <input type="text" name="busqueda" placeholder="Buscar productos, marcas y más">
                <button  type="submit"><i class="fas fa-search"></i></button>
            </form>
            <p class="texto1"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>
       
            <nav>
                <ul class="nav1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayudas</a></li>
                </ul>
                <br>
                <ul class="nav2">
                    <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>
    
    <main>
        <form action="#"  method="POST" class="register">

           
            <input type="text" name="nombre y apellido" placeholder="Nombre y apellido" required>
            <br>
            <input type="text" name="nombre de usuario" placeholder="Nombre de usuario" required>
            <br>
            <label for="fecha de nacimiento">Fecha de nacimiento:</label>
            <br>
            <input type="date" name="fecha de nacimiento" value="2020-9-1" min="1920-1-1" max="2021-1-1" required>
            <br>
            <input type="text" name="domicilio" placeholder="Domicilio" required>
            <br>
            <div class="perfil">
                <label for="perfil de usuario">Perfil del usuario:</label>
                <br>
                <label for="Comprador"> Comprador </label>
                <input type="radio" name="perfil" value="Comprador">
                <label for="Vendedor"> Vendedor </label>
                <input type="radio" name="perfil" value="Vendedor">
            </div>
            <br>
            <div class="checkbox">
                <label for="interes">Categorías de interés:</label>
                <br>
                <input type="checkbox" name="interes" value="Electro">
                <label for="interes">Electro</label>
                <br>
                <input type="checkbox" name="interes" value="Moda">
                <label for="interes">Moda</label>
                <br>
                <input type="checkbox" name="interes" value="Hogar">
                <label for="interes">Hogar</label>
                <br>
                <input type="checkbox" name="interes" value="Jugietería">
                <label for="interes">Juguetería</label>
                <br>
                <input type="checkbox" name="interes" value="Vida sana">
                <label for="interes">Vida sana</label>
            </div>
            <br>
            <label for="foto"> Elegi una foto de perfil:</label>
            <br>
            <input class="archivo" type="file" name="foto" accept=".jpg" required>
            <br>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
            <br>
            <input type="password" name="confirmar contraseña" placeholder="Confirmacion de contraseña" required>
            <br>
            <br>
            <button type="submit"><a href="/">Enviar</a></button>
            <button type="reset">Cancelar</button>
            



        </form>


    </main>
    <footer>
        <article>
            <div class="tarjeta">
            <i class="fas fa-credit-card"></i>
            </div>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <div class="regalo">
                <i class="fas fa-gift"></i>
            </div>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
           <div class="seguridad">
                <i class="fas fa-user-shield"></i>
           </div>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>