/*GENERAL*/
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
 }

 h3 {
     font-size: 24px;
     margin-top: 20px ;
     margin-bottom: 20px;
 }

 p {
     font-size: 12px;
 }

 h5 {
     font-size: 18px;
 }

 main {
         width: 90%;
         margin: 0 auto;
         
 }
/*HEADER*/

header {

    background-color: #EAC926;
}

.contenedor-logo{

        flex-direction: row;
        display:flex;
        align-items: center;
}
.logo{
        width: 50%;
}

.busqueda{
        width: 50%;
        margin: auto;
        text-align: center;
}

header nav{
        display: none;
}
.burger-menu {
    text-align: center;
    display: block;
}

 div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
 }
/*MAIN*/

.section1{
        margin: auto;
}

.section1 h3{
        text-align: center;
}
.section2{
        margin: auto;
}

.section2 h3{
        text-align: center;
}





 main article {
        margin: auto;
        text-align: left;
        margin-bottom: 10px;
        width: 300px;
        
        
}



.main-article {
        display:flex;
        border-top: solid 1px #ebebeb;
        padding: 15px 15px 15px 15px;
        background-color: white;
        position: relative;
        flex-wrap: wrap;
        
        

}

 main section article div i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        color: #39b54a;

}

.precios {
            font-size: 18px;
            flex-grow: 3;
            
}

.descuentos {
            font-size: 16px;
            color: #39b54a;
            flex-grow: 7;
}

.descripciones {
                font-size: 16px;
                margin-top: 10px;
                display: none;
}

main section div.products article{
        margin-bottom: 30px;
}



/*FOOTER*/


  footer article {
        width: 70%;
        margin: auto;
        text-align: center;
}





.tarjeta {
        text-align: center;
}

div.tarjeta i{
        background-color: #ebebeb;
        border-radius: 5px;
        color: #0044AA;
        font-size: 2em;
        height: 40px;
        margin: 30px 0px 10px 0px;
        padding: 10px;
        width: 40px;
}

.regalo{
    text-align: center;
}

div.regalo i{
        background-color: #ebebeb;
        border-radius: 5px;
        color: #0044AA;
        font-size: 2em;
        height: 40px;
        margin: 30px 0px 10px 0px;
        padding: 10px;
        width: 40px;
}

.seguridad {
        text-align: center;
}

div.seguridad i{
        background-color: #ebebeb;
        border-radius: 5px;
        color: #0044AA;
        font-size: 2em;
        height: 40px;
        margin: 30px 0px 10px 0px;
        padding: 10px;
        width: 40px;
}

.copyright {

        margin-top: 30px;
}

/*REGISTER*/
.register{
        text-align: center;

}
.register input{

        margin-top: 20px;
        margin-bottom: 20px;
        width: 30%;
        
}

.register .perfil{

        margin: auto;
        text-align: center;
        width: 40%;

}

.register .checkbox input{

        width: 20px;
        margin-top: 20px;
        
        
}

.checkbox{

        margin: auto;
        width: 40%;
        text-align: center;
}

.register button{

        width: 100px;
        height: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #39b54a;
        border: black 1px solid;
        border-radius: 5px;
}

/*LOGIN*/

.login{
        text-align: center;
}

.login input{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 30%;
}

.login button{

        width: 100px;
        height: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        background-color: #39b54a;
        border: black 1px solid;
        border-radius: 5px;
}



/*VIEWPORT*/

/*tablets*/
@media (min-width: 361px){

        .descripciones{
                display: block;
                padding-right: 30px;
        }
        main article{
                box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
        header nav{
                display: block;
        }
        .burger-menu {
                display: none;
            }
        .precios {
                font-size: 18px;
                flex-grow: 3;
                
                 }
    
        .descuentos {
                font-size: 16px;
                color: #39b54a;
                flex-grow:7;
                 }

        main section div.products{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
        }
        main section div.products article{
                width: 44%;
        }

}
/*desktop*/
@media (min-width: 769px){

        main section div.products{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
        }
        main section div.products article{
                width: 22%;
        }
}